header {
  background-color: #A9A9A9;
}

.info {
  text-align: center;
  color: #FFFFFF;
  background-color: #FF7F50;
}

footer {
  text-align: center;
  color: #FFFFFF;
  background-color: #FF7F50;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
